* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  padding-bottom: 60px; 
  background-image: url('images/bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: inline;
   margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

h2 {
  color: #f20606; /* red */
  margin-bottom: 20px;
}


#projects, #contact {
  background-color: #f4f4f4;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}



  .hidden {
  display: none;
}
.project {
  margin-bottom: 30px;
}
.toggle-btn {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
}



.error-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}
input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}


.toggle-btn, button {
  transition: background 0.3s, transform 0.2s;
}
.toggle-btn:hover, button:hover {
  background: #f20606;
  color: #fff;
  transform: scale(1.05);
}





@media (max-width: 600px) {
  header, footer {
    padding: 15px;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 20px 15px;
    margin: 20px 10px;
  }

  h2 {
    font-size: 1.5em;
  }


}



.dark-mode {
  background-color: #222;
  color: #151515;
  background-image: url('images/bg-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-mode section {
  background-color: #474747; 
  color: #111; 
}

.dark-mode button,
.dark-mode input,
.dark-mode textarea {
  background: #333;
  color: #111; 
  border-color: #444;
}

.dark-mode #projects {
  background-color: #5a5a5a; 
  color: #111;
}

.dark-mode #contact {
  background-color: #5a5a5a; 
  color: #111;
}

section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s, transform 0.7s;
}
section.visible {
  opacity: 1;
  transform: translateY(0);
}